#header {
	display: block;
	/*border-radius: 5px;*/
	border: solid black;
	/*border-bottom: none;*/
	height: 50px;
	width: auto;
	background-color: #69D2E7;
	/*margin-top: -20px;*/
	/*margin-right: -20px;*/
	/*margin-left: -20px;*/
	padding: 40px;
	font-size: 3em;
}
}
.body{	
	margin: auto;
}
.container {
	display: inline;
	background-color: #308014;
	border-left: none;
	width: 80%;
	height: 100%;
	/*padding: 25px;*/
	clear: right;
	/*margin-right: -12px;*/
	position: relative;
	float: right;
}
#main {
	font-size: 1em;

}
.messageRow{
	border: 2px solid black;
	border-top: none;
}
.subject {
	font-size: 2em;
	border-right: 2px solid black;
	border-left: 2px solid black;
}
.sender {
	border-right: 2px solid black;
	border-left: 2px solid black;
}
.date {
	border-right: 2px solid black;
	border-left: 2px solid black;
	color: blue;
}
.sidebar {
	display: inline;
	border-right: 2px solid black;
	background: black;
	clear: left;
	background-color: #308014;
	display: inline-block;
	/*padding: 20px;*/
	/*margin-left: -13px;*/
	position: relative;
	float: left;
	width: 20%;
	height: 100%;
	box-sizing: border-box;
}
#footer {
	/*border-radius: 5px;*/
	border: solid black;
	height: 50px;
	width: auto;
	background-color: #69D2E7;
	/*margin-bottom: -20px;*/
	/*margin-right: -20px;*/
	/*margin-left: -20px;*/
	/*padding: 40px;*/
	clear: both;
}
body {
	margin: 0;
	padding: 0;
}
Message {
	font-size: 4em;
}